@using MvcExtensionsLibrary
@model FoodVm

@{
    ViewBag.Title = "Create";
}

<section class="content-header">
    <h1>
        Food
        <small>management</small>
    </h1>
    <ol class="breadcrumb">
        <li> <a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-10">
            <div class="box box-solid">
                <div class="box-header">
                    Creation
                </div>
                <div class="box-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.FoodGroup, htmlAttributes: new {@class = "control-label col-md-2"})
                                <div class="col-md-10">
                                    @Html.SortedEnumDropDownListFor(m => m.FoodGroup)
                                    @Html.ValidationMessageFor(m => m.FoodGroup, "", new {@class = "text-danger"})
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.FoodSubgroup, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(m => m.FoodSubgroup, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(m => m.FoodSubgroup, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }

                    <div>
                        <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-cutlery"></i> &nbsp; Back to List</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {
}
