@model TagVm

<section class="content-header">
    <h1>
        Tag
        <small>management</small>
    </h1>
    <ol class="breadcrumb">
        <li> <a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-10">
            <div class="box box-solid">
                <div class="box-header">
                    Creation
                </div>
                <div class="box-body">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }

                    <div>
                        <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-tag"></i> &nbsp; Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
}
