@using RecipeMs.Web.Models
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutLogout.cshtml";
}


<div class="login-box">
    <div class="login-logo">
        Top Gourmet
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Register a new membership.</p>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="form-group has-feedback">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Password" })
                        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-7 col-xs-offset-1">
                    <div class="form-group has-feedback">
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group has-feedback">
                        <input type="submit" value="Register" class="btn btn-primary btn-block btn-flat" />
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                        <i class="fa fa-facebook"></i> Sign in using
                        Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                        <i class="fa fa-google-plus"></i> Sign in using
                        Google+
                    </a>
                </div>
            </div>
        </div>
        <p>
            @Html.ActionLink("Already have a membership?", "Login")
        </p>

    </div>







        </div>
